einops==0.8.0
streamlit==1.21.0
torch==2.3.0
torchvision==0.18.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.28.1
trio==0.23.2
trio-websocket==0.11.1
tweepy==4.14.0
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2022.7
tzlocal==4.3
update==0.0.1
uri-template==1.2.0
urllib3==1.26.15
uvicorn==0.29.0
validators==0.20.0
virtualenv==20.25.3
Wand==0.6.11
watchdog==3.0.0
wcwidth==0.2.6
web3==6.4.0
webcolors==1.12
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.2.2
widgetsnbextension==4.0.6
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.6
yarl==1.9.2
yfinance==0.2.37
youtube-transcript-api==0.6.1
zipp==3.15.0
zstandard==0.22.0
